{% extends 'layout/default.html' %}

{% load model_extras %}

{% block content %}
  <section class="dictionaries">
    <div class="container">
      <div style="text-align: center">
        {% include 'learn/tags.html' %}
        <div class="columns">
          <div class="column is-half is-offset-one-quarter">
            <div class="card">
              <div class="card-header">
                <div class="card-header-title is-centered">
                  {% block kana %}
                    {{ current.origin.kana }}
                  {% endblock %}
                </div>
              </div>
              <div class="card-content">
                {% block translation %}
                  <p>
                    {{ current.id }}
                    <a class="button is-primary is-rounded"
                       href="{% url 'ui:learn-word-with-translation' selected_word_id=current.origin_id %}">?</a>
                  </p>
                {% endblock %}
                <br>
                <hr>
                <div>
                  <form action="{% url 'ui:learn-word' selected_word_id=current.origin_id %}" method="post">
                    {% csrf_token %}
                    {% if current.review_times %}
                      <div class="buttons has-addons is-centered">
                        <button type="submit" name="choice" value="1" class="button">不记得</button>
                        <button type="submit" name="choice" value="2" class="button">模糊</button>
                        <button type="submit" name="choice" value="3" class="button">记得</button>
                      </div>
                    {% else %}
                      <div class="buttons has-addons is-centered">
                        <button type="submit" name="choice" value="0" class="button">完全不认识</button>
                        <button type="submit" name="choice" value="1" class="button">不记得</button>
                        <button type="submit" name="choice" value="2" class="button">模糊</button>
                        <button type="submit" name="choice" value="3" class="button">记得</button>
                        <button type="submit" name="choice" value="4" class="button">熟悉</button>
                      </div>
                    {% endif %}
                  </form>
                </div>
                {#                <br>#}
                {#                <div class="tags">#}
                {#                  {% if not current.review_times %}#}
                {#                    <span class="tag is-success">First</span>#}
                {#                  {% endif %}#}
                {#                </div>#}
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
{% endblock %}
