{% extends 'learn/base.html' %}

{% load model_extras %}

{% block content %}
  {% if current %}
    <section class="dictionaries">
      <div class="container">
        <div style="text-align: center; padding: 1rem;">
          {% include 'learn/tags.html' %}
          <div class="columns">
            <div class="column is-half is-offset-one-quarter">
              <div class="card">
                <div class="card-header">
                  <div class="card-header-title is-centered">
                    {% block kana %}
                      {% with current.origin as word %}
                        {% if word.kanji %}
                          {{ word.kanji }}
                        {% else %}
                          {{ word.kana }}
                        {% endif %}
                      {% endwith %}
                    {% endblock %}
                  </div>
                </div>
                {% block translation %}
                {% endblock %}
              </div>
            </div>
          </div>
        </div>
      </div>
    </section>
    <section class="functions">
      <div class="container">
        {% block next-step %}
          <div class="next-step">
            <a class="button is-primary is-rounded"
               href="{% url 'ui:learn-word-with-translation' selected_word_id=current.id %}">?</a>
          </div>
        {% endblock %}
        {% block functions %}
          <form action="{% url 'ui:learn-word' selected_word_id=current.id %}" method="post">
            {% csrf_token %}
            <input type="hidden" name="with-translation" value="{{ with_translation }}">
            <input type="hidden" name="is-next" value="{{ is_next }}">
            {#          {% if current.review_times %}#}
            {#            <div class="buttons has-addons is-centered">#}
            {#              <button type="submit" name="choice" value="1" class="button">不记得</button>#}
            {#              <button type="submit" name="choice" value="2" class="button">模糊</button>#}
            {#              <button type="submit" name="choice" value="3" class="button">记得</button>#}
            {#            </div>#}
            {#          {% else %}#}
            <div class="buttons has-addons is-centered">
              <button type="submit" name="choice" value="0" class="button">完全不认识</button>
              <button type="submit" name="choice" value="1" class="button">不记得</button>
              <button type="submit" name="choice" value="2" class="button">模糊</button>
              <button type="submit" name="choice" value="3" class="button">记得</button>
              <button type="submit" name="choice" value="4" class="button">熟悉</button>
            </div>
            {#          {% endif %}#}
          </form>
        {% endblock %}
        <hr>
      </div>
    </section>
  {% endif %}
{% endblock %}
