<div class="field is-grouped is-grouped-multiline">
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">left</span>
      <span class="tag is-link">{{ ranks_lt_10_count }}</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">new</span>
      {% if not current.review_times %}
        <span class="tag is-success">true</span>
      {% else %}
        <span class="tag is-danger">false</span>
      {% endif %}
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">ranks</span>
      <span class="tag is-primary">{{ current.ranks }}</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">correct</span>
      <span class="tag is-info">{{ current.correct_rate }} - {{ current.correct_times }}</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">wrong</span>
      <span class="tag is-warning">{{ current.wrong_times }}</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">review</span>
      <span class="tag is-light">{{ current.review_times }}</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">level</span>
      <span class="tag is-black">{{ current.mem_level }}</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">last checked</span>
      <span class="tag is-white">{{ current.last_checked_at }}</span>
    </div>
  </div>
  <div class="control">
    <div class="tags has-addons">
      <span class="tag is-dark">last wrong</span>
      <span class="tag is-white">{{ current.last_wrong_at }}</span>
    </div>
  </div>
</div>
