[[source]]

url = "https://pypi.python.org/simple"
verify_ssl = true
name = "pypi"


[dev-packages]

django-debug-toolbar = "*"
django-extensions = "*"


[packages]

djangorestframework = "*"
django-bulma = "*"
django-compressor = "*"
django-libsass = "*"
logzero = "*"
django-environ = "*"
mysqlclient = "*"
django = "*"
