{% load staticfiles %}
{% load compress %}

<!doctype html>
<html lang="zh">
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">

  <title>{% block title %}{% endblock %}</title>

  {% compress css %}
    <link rel="stylesheet" type="text/x-scss" href="{% static 'css/phonetic.scss' %}">
  {% endcompress %}

  <link rel="stylesheet" href="{% static 'css/base.css' %}">
  <link rel="stylesheet" href="{% static 'css/extra.css' %}">
  <link rel="stylesheet" href="{% static 'css/common.css' %}">
  <link rel="stylesheet" href="{% static 'libs/font-awesome.css' %}">
  <link rel="stylesheet" href="{% static 'libs/bulma.css' %}">

  {% block css %}{% endblock %}
</head>
<body>
{% include 'layout/header.html' %}
<div class="main-content">
  {% block content %}{% endblock %}
</div>
{% include 'layout/footer.html' %}
</body>
</html>
