<nav class="navbar is-fixed-bottom">
  <div class="tabs is-centered is-boxed" style="width: 100%">
    <ul>
      <li class="{% if 'ui:dictionaries' in view_name %}is-active{% endif %}">
        <a href="{% url 'ui:dictionaries' %}">
          <span class="icon is-small"><i class="fa fa-book"></i></span>
          <span>Dictionaries</span>
        </a>
      </li>
      <li class="{% if 'ui:learn' in view_name %}is-active{% endif %}">
        <a href="{% url 'ui:learn' %}">
          <span class="icon is-small"><i class="fa fa-pencil"></i></span>
          <span>Learn</span>
          <span class="tag is-rounded">{{ left_words }}</span>
        </a>
      </li>
      <li>
        <a>
          <span class="icon is-small"><i class="fa fa-user"></i></span>
          <span>Me</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
