<nav class="navbar is-transparent is-fixed-top">
  <div class="navbar-brand">
    <a class="navbar-item" href="/">
      Home
    </a>
    <div class="navbar-burger burger" data-target="navbar-transparent">
      <span></span>
      <span></span>
      <span></span>
    </div>
  </div>

  <div id="navbar-transparent" class="navbar-menu">
    <div class="navbar-start"></div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          {% if request.user.is_authenticated %}
            <p class="control">
              <a class="button is-text" href="#">
                <span>
                  {{ request.user.username }}
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button" href="{% url 'ui:sign-out' %}">
                <span class="icon">
                  <i class="fa fa-sign-out"></i>
                </span>
                <span>
                  Sign Out
                </span>
              </a>
            </p>
          {% else %}
            <p class="control">
              <a class="button" href="{% url 'ui:sign-in' %}">
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>
                  Sign In
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="{% url 'ui:sign-up' %}">
                <span class="icon">
                  <i class="fa fa-user-plus"></i>
                </span>
                <span>Sign Up</span>
              </a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

{#<hr class="navbar-divider">#}
