<nav class="navbar is-transparent">
{#  <div class="navbar-brand">#}
{#    <a class="navbar-item" href="#">#}
{#      Logo#}
{#    </a>#}
{#    <div class="navbar-burger burger" data-target="navbarExampleTransparentExample">#}
{#      <span></span>#}
{#      <span></span>#}
{#      <span></span>#}
{#    </div>#}
{#  </div>#}

  <div id="navbar-transparent" class="navbar-menu">
    <div class="navbar-start">
      <a class="navbar-item" href="/">
        Home
      </a>
{#      <div class="navbar-item has-dropdown is-hoverable">#}
{#        <a class="navbar-link" href="/documentation/overview/start/">#}
{#          Docs#}
{#        </a>#}
{#        <div class="navbar-dropdown is-boxed">#}
{#          <a class="navbar-item" href="/documentation/overview/start/">#}
{#            Overview#}
{#          </a>#}
{#          <a class="navbar-item" href="https://bulma.io/documentation/modifiers/syntax/">#}
{#            Modifiers#}
{#          </a>#}
{#          <a class="navbar-item" href="https://bulma.io/documentation/columns/basics/">#}
{#            Columns#}
{#          </a>#}
{#          <a class="navbar-item" href="https://bulma.io/documentation/layout/container/">#}
{#            Layout#}
{#          </a>#}
{#          <a class="navbar-item" href="https://bulma.io/documentation/form/general/">#}
{#            Form#}
{#          </a>#}
{#          <hr class="navbar-divider">#}
{#          <a class="navbar-item" href="https://bulma.io/documentation/elements/box/">#}
{#            Elements#}
{#          </a>#}
{#          <a class="navbar-item is-active" href="https://bulma.io/documentation/components/breadcrumb/">#}
{#            Components#}
{#          </a>#}
{#        </div>#}
{#      </div>#}
    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="field is-grouped">
          {% if request.user.is_authenticated %}
            <p class="control">
              <a class="button is-text" href="#">
                <span>
                  {{ request.user.username }}
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button" href="{% url 'ui:sign-out' %}">
                <span class="icon">
                  <i class="fa fa-sign-out"></i>
                </span>
                <span>
                  Sign Out
                </span>
              </a>
            </p>
          {% else %}
            <p class="control">
              <a class="button" href="{% url 'ui:sign-in' %}">
                <span class="icon">
                  <i class="fa fa-sign-in"></i>
                </span>
                <span>
                  Sign In
                </span>
              </a>
            </p>
            <p class="control">
              <a class="button is-primary" href="{% url 'ui:sign-up' %}">
                <span class="icon">
                  <i class="fa fa-user-plus"></i>
                </span>
                <span>Sign Up</span>
              </a>
            </p>
          {% endif %}
        </div>
      </div>
    </div>
  </div>
</nav>

<hr class="navbar-divider">
