.phonetic-words {
}

.phonetic-words .phonetic-word {
    text-align: center;
    display: inline-block;
}

.phonetic-words .phonetic-word .kana {
    font-size: 0.7rem;
    line-height: 0.7rem;
    font-weight: bold;
}
