{% extends 'layout/default.html' %}

{% load model_extras %}

{% block content %}
  <section>
    <div class="container">
      <nav class="breadcrumb has-bullet-separator">
        <ul>
          <li>
            <a href="{% url 'ui:dictionaries-chapters' dictionary_id=chapter.dictionary_id %}">
              {{ chapter.dictionary }}
            </a>
          </li>
          <li class="is-active"><a href="#">{{ chapter }}</a></li>
        </ul>
      </nav>
    </div>
  </section>
  <section class="chapters">
    <div class="container">
      <div class="functions is-hidden">
        <button class="button">全选</button>
      </div>
      <form action="">
        <div class="panel">
          {% for word in chapter.words.all %}
            <div class="panel-block">
              <label class="checkbox">
                <input class="is-hidden" name="selected_words" type="checkbox" value="{{ word.id }}">
                {% phonetic word %}
              </label>
            </div>
          {% endfor %}
        </div>
      </form>
    </div>
  </section>
{% endblock %}
